@font-face {
  font-family: lotus;
  src: url(/fonts/B-Lotus/B\ Lotus\ Bold_0.ttf);
}

body {
  direction: rtl;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}